@tailwind base;
@tailwind components;
@tailwind utilities;
@import url("https://fonts.googleapis.com/css2?family=Ubuntu:wght@400;500;700&display=swap");
@layer components {
	.input {
		@apply rounded-md
      shadow-sm
      p-4
      lg:my-2
      bg-stone-50
      focus:bg-white
      focus:outline-none
      focus:shadow-sm
      focus:shadow-stone-400;
	}
	.input-invalid {
		@apply outline
      outline-2
      outline-primary-red
      rounded-md
      shadow-sm
      p-4
      lg:my-2

    bg-stone-50
    focus:bg-white
      focus:border-none
      focus:outline-none
      focus:shadow-sm
    focus:shadow-stone-400;
	}

	.error-label {
		@apply text-primary-red
    py-1
    font-medium;
	}
}
