[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
pymongo = "==4.8.0"
python-dotenv = "==1.0.1"
flask-mail = "==0.10.0"
gunicorn = "*"
flask = "*"

[dev-packages]

[requires]
python_version = "3.12"
